## Data Types- Key Concepts and Methods

### Set

#### Definition:
A set is an unordered, mutable collection of unique items enclosed in curly braces {}.

#### Key Points:

Sets do not allow duplicates.

Unordered, so no indexing.

Used for operations like finding unique items or set operations (union, intersection).

##### Common Methods/Functions:

set.add(item): Adds an item.
    
set.remove(item): Removes an item (raises error if not found).

set.discard(item): Removes an item (no error if not found).

set.union(set2): Combines two sets.

set.intersection(set2): Returns common items.

len(): Returns the number of items.

#### Example

In [46]:
numbers = {1, 2, 2, 3}  
numbers

{1, 2, 3}

In [48]:
print(numbers)

{1, 2, 3}

In [50]:
numbers.add(4)
print(numbers)

{1, 2, 3, 4}

In [52]:
numbers.discard(2) 
print(numbers)

{1, 3, 4}

In [54]:
set2 = {3, 4, 5}
print(numbers.union(set2))

{1, 3, 4, 5}