## Data Types - Key Concepts & Methods

### String

#### Definition: 
A string is a sequence of characters (letters, numbers, or symbols) enclosed in single (') or double (") quotes.

####  Key Points:

Strings are immutable (cannot be changed after creation).
Used to store text data like names, messages, etc.

Can include special characters using escape sequences (e.g., \n for newline).

#### Indexing:

Strings are indexed starting from 0 (first character).
Negative indexing starts from -1 (last character).

Example: For "hello", h is at index 0, o is at index 4 or -1.

#### Common Methods/Functions:

len(): Returns the length of the string.

str.upper(), str.lower(): Converts to uppercase/lowercase.

str.strip(): Removes leading/trailing whitespace.

str.replace(old, new): Replaces a substring.

str.split(): Splits string into a list based on a delimiter.

str.join(): Joins a list of strings into one string.

#### Example

In [66]:
name='Aniket'

In [67]:
name

'Aniket'

In [68]:
type(name)

str

In [69]:
age=21

In [70]:
age

21

In [71]:
print(f"{name} is {age} years old")

Aniket is 21 years old

In [72]:
print(f'{name} is {age} years old')

Aniket is 21 years old